<div class="categories hidden">
    {% for category in data.categories %}
        <div>
            <a href="{% url 'category-detail' category.id %}">{{ category }}</a>
        </div>
    {% endfor %}
    <button class="close-menu">x</button>
</div>


<style>
    .categories {
  position: fixed;
  display: block;
  width: 20%;
  height: 100%;
  left: -700px;
  top: 0;
  padding: 40px;
  z-index: 50;
  background: #eee;
  animation-name: menuClose;
  animation-duration: 1s;
}

.categories.active {
  left: 0;
  animation-name: menuOpen;
  animation-duration: 1s;
}

.categories.active .close-menu {
  position: absolute;
  margin: auto;
  top: 0;
  right: 70px;
  width: 60px;
  height: 60px;
  background-color: #eeeeee;
  font-size: 20px;
  text-align: center;
  line-height: 60px;
  cursor: pointer;
}

@keyframes menuOpen {
  from {
    left: -700px;
  }
  to {
    left: 0;
  }
}

@keyframes menuClose {
  from {
    left: 0;
  }
  to {
    left: -700px;
  }
}
</style>