{% load get_name_and_price_tags %}
{% get_price data.item_detail.item_id as price %}
{% get_name data.item_detail.item_id as name %}
{% load get_description %}
{% get_description_by_id data.item_detail.item_id as description %}
<div class="description">
    {{ description }}
</div>

<div class="buy">
    {{ price }} ₽
    <button class="btn btn-success"> Добавить в корзину </button>
    <button class="btn btn-success"> Купить </button>
</div>

<style>
    .description{
        width: 50%;
        font-size: 20px;
        margin-right: 100px;
    }

    .buy{
        height: 20%;
        width: 20%;
        background: white;
        border-radius: 20px;
        box-shadow: #AAAAAA 3px 3px 10px;
        padding: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-right: 20px;
    }

    .buy button{
        margin-bottom: 5px;
    }

</style>