{% extends 'main/base.html' %}
{% load image_tags %}

{% block title %}
    Категории
{% endblock %}

{% block nav %}
    {% include 'includes/navbar.html' %}
{% endblock %}

{% block content %}
    <div class="wrapper">
        <div class="row">
            {% for item in data.items %}
            {% get_main_image_by_id item.id as image %}
            <div class="itemmmm col-md-4">
                <a href="{% url 'item-detail' item.id %}">
                    <img src="/media/{{ image }}" alt="img">
                    <div>
                        {{ item.name }}
                    </div>
                    <span>
                        {{ item.price }}₽
                    </span>
                </a>
            </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}


{% block style %}
    <style>
    .items__title{
        margin: 0 auto;
    }

    .items__title a{
        color: red;
    }

    .title-heater{
        margin-top: 20px;
     }

    .wrapper{
        margin-top: 20px;
        color: red;
        height: 80%;
    }

    .wrapper a{
        color: black;
        text-shadow: #AAAAAA 1px 1px 4px;
        margin: 8px 0;
        font-size: 15px;
    }

    .wrapper a:hover{
        text-decoration: none;
        text-shadow: #AAAAAA 3px 3px 10px;
        transition: all .6s ease;
        cursor: pointer;
        transform: scale(1.05);
    }

    .wrapper span{
        font-size: 20px;
        margin-top: 10px;
    }

    .itemmmm{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .itemmmm a{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .itemmmm a div{
        margin-top: 10px;
    }

    .itemmmm img{

        height: 280px;
        width: auto;
    }
<!--    .roww{-->
<!--        margin-left: 0;-->
<!--        margin-right: 0;-->
<!--        display: flex;-->
<!--        justify-content: space-between;-->
<!--    }-->

    .row{
        margin-left: 0;
        margin-right: 0;
    }

    </style>
{% endblock %}