{% extends 'main/base.html' %}

{% block title %}
    {{ data.item_detail }}
{% endblock %}

{% block nav %}
    {% include 'includes/navbar.html' %}
{% endblock %}

{% block content %}
    <div class="content">
        <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
            <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true">
                    <img src="../../../media/support_items/previous.png" alt="none">
                </span>
                <span class="sr-only">Previous</span>
            </a>
            <div class="carousel-inner">
                <div class="item active">
                    <img class="d-block " src="/media/{{ MEDIA_URL }}{{ data.item_detail.photo_main }}" alt="First slide">
                </div>

                {% if data.item_detail.photo_second %}
                    <div class="item">
                        <img class="d-block " src="/media/{{ MEDIA_URL }}{{ data.item_detail.photo_second }}" alt="Second slide">
                    </div>
                {% endif %}

                {% if data.item_detail.photo_third %}
                    <div class="item">
                        <img class="d-block " src="/media/{{ MEDIA_URL }}{{ data.item_detail.photo_third }}" alt="Third slide">
                    </div>
                {% endif %}
            </div>

            <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true">
                    <img src="../../../media/support_items/next.png" alt="none">
                </span>
                <span class="sr-only">Next</span>
            </a>
        </div>
        {% include 'includes/item_description.html' %}

    </div>
{% endblock %}

{% block style %}
    <style>
        .content{
            display: flex;
            flex-direction: column;
            margin: 0 auto;
        }

        .item img{
            width: 200px;
            height: auto;
        }

        .carousel{
            display: flex;
            margin: 20px auto 0;
            align-items: center;
        }

        .carousel-control-prev img, .carousel-control-next img{
            width: 25px;
        }

        .categories{
            margin-top: 33px;
        }

        {#.description{#}
        {#    display: flex;#}
        {#    flex-direction: column;#}
        {# } #}
    </style>
{% endblock %}

