{% extends 'main/base.html' %}
{% load get_description %}
{% get_description_by_id data.item_detail.item_id as description %}

{% block title %}
    {{ data.item_detail }}
{% endblock %}

{% block nav %}
    {% include 'includes/navbar.html' %}
{% endblock %}

{% block content %}
    <div class="detail-block">
        {% include 'includes/images_carousel.html' %}
        {% include 'includes/item_description.html' %}

    </div>
{% endblock %}

{% block style %}
    <style>
        .detail-block{
            height: 137%;
            display: flex;
            align-items: center;
        }
        .content{
            display: flex;
            flex-direction: column;
            margin: 0 auto;
        }

        .item img{
            width: 200px;
            height: auto;
        }

        .carousel{
            display: flex;
            margin: 20px auto 0;
            align-items: center;
        }

        .carousel-control-prev img, .carousel-control-next img{
            width: 25px;
        }

        .categories{
            margin-top: 33px;
        }

        {#.description{#}
        {#    display: flex;#}
        {#    flex-direction: column;#}
        {# } #}
    </style>
{% endblock %}

